<main class="fox">
    
    <div class="container_animal">
        <div class="animal_figure">
            <img [src]="animal.anim_image" alt="renard" class="fit_in" />
        </div>
        <h2 class="animal_name">{{animal.anim_name}}</h2>
        <div class="animal_data">
            <div>
                <p class="lino">Taille : </p>
                {{animal.anim_taille}}cm
            </div>
            <div>
                @if (animal.anim_poids<1000){
                <p class="lino">Poids :</p>
                {{animal.anim_poids}} g
                }
                @else {
                    <p class="lino">Poids :</p>
                {{animal.anim_poids/1000}} Kg
                }
            </div>
            <div>
                <p class="lino">Habitat :</p>
                {{animal.anim_habitat}}
            </div>
            <div>
                <p class="lino">Régime :</p>
                {{animal.anim_alim}}
            </div>
        </div>
    </div>
    <div class="container_lien">
        <a class="lien_trace">
            patounes
        </a>
        <a class="lien_trace">
            patounes
        </a>
    </div>

</main>